# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/
.bundle/
vendor/bundle/
.idea/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json
files/pr2_real_cutting_robot_view.mp4
files/pr2_real_cutting_robot_view.mp4
files/pr2_real_cutting_robot_view.mp4
