 .u-section-1 {
  background-image: none;
  min-height: 848px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 820px);
  height: 216px;
  background-image: none;
  margin: 632px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 415px;
  height: 447px;
  margin: -839px calc(((100% - 1140px) / 2) + -29px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 428px;
  min-height: 376px;
  background-image: url("images/fg_150.png");
  margin: -55px calc(((100% - 1140px) / 2) + 285px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 604px;
  min-height: 568px;
  margin: -713px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 24px 0;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 199px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 503px;
  height: 655px;
  margin: -561px calc(((100% - 1140px) / 2) + 110px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 820px);
    height: 162px;
    margin-top: 648px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -785px;
    margin-right: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    min-height: 292px;
    margin-top: -25px;
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }

  .u-section-1 .u-group-2 {
    width: 490px;
    min-height: 497px;
    margin-top: -659px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 85px;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 110px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: 838px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-shape-2 {
    width: 301px;
    height: 295px;
    margin-top: -633px;
    margin-right: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 382px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 153px);
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    min-height: 427px;
    margin-top: -869px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 110px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 511px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -603px;
    margin-right: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 367px;
    min-height: 250px;
    margin-left: calc(((100% - 540px) / 2) + 61px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 0 35px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    min-height: 371px;
    margin-top: -847px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -549px;
    margin-right: calc(((100% - 540px) / 2) + 37px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 636px;
  }

  .u-section-1 .u-shape-1 {
    height: 137px;
    margin-top: 819px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -485px;
    margin-right: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    margin-top: -134px;
    margin-left: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 411px;
    margin-top: -822px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 443px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 901px;
}

.u-section-2 .u-shape-1 {
  height: 286px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 861px;
  margin: -430px auto -84px;
}

.u-section-2 .u-image-1 {
  min-height: 569px;
  background-image: url("images/photo15802520691050f4e3c49edf2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(219, 165, 122) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(219, 165, 122) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(219, 165, 122) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(219, 165, 122) !important;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 794px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 60px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-image-2 {
  height: 632px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-2 .u-shape-1 {
    height: 517px;
    margin-top: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 623px;
    margin-top: -641px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-image-1 {
    min-height: 952px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 1218px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 1057px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-2 .u-shape-1 {
    height: 449px;
    margin-top: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 477px;
    margin-top: -537px;
    margin-bottom: 60px;
    margin-left: 31px;
  }

  .u-section-2 .u-image-1 {
    min-height: 714px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 954px;
  }

  .u-section-2 .u-image-2 {
    height: 793px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1341px;
  }

  .u-section-2 .u-shape-1 {
    height: 275px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -334px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 397px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 250px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 582px;
  }

  .u-section-2 .u-image-2 {
    height: 394px;
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 612px;
}

.u-section-3 .u-shape-1 {
  width: 487px;
  height: 612px;
  margin: 0 113px 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -532px;
  margin-bottom: -178px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 48px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.8;
  font-style: normal;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 452px;
  background-image: url("images/-min.jpg");
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 357px;
    left: auto;
    right: 113px;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-3 .u-image-1 {
    min-height: 373px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-3 .u-shape-1 {
    width: 206px;
    height: 501px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 113px 0 auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -437px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-3 .u-shape-1 {
    width: 640px;
    height: 223px;
    margin-top: 358px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -521px;
    margin-bottom: -1px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3 .u-shape-1 {
    width: 440px;
    height: 133px;
    margin-top: 60px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -457px;
    margin-bottom: -264px;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 227px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 815px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  margin: 55px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 55px;
  margin-left: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 579px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 70px 0 0;
}

.u-section-4 .u-shape-1 {
  width: 459px;
  height: 459px;
  background-image: none;
  margin: 82px -91px 0 auto;
}

.u-section-4 .u-image-1 {
  height: 431px;
  margin-top: -541px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 579px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -2px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 20px;
    margin-right: -155px;
  }

  .u-section-4 .u-image-1 {
    height: 396px;
    margin-top: -479px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 55px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-shape-1 {
    width: 368px;
    height: 368px;
    margin-top: 39px;
    margin-right: -102px;
  }

  .u-section-4 .u-image-1 {
    height: 327px;
    margin-top: -407px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 18px;
    font-size: 3rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 18px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    width: 422px;
    height: 422px;
    margin-top: 77px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 382px;
    width: 423px;
    margin-top: -499px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 45px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-4 .u-shape-1 {
    width: 285px;
    height: 285px;
    margin-top: 13px;
    margin-right: -10px;
  }

  .u-section-4 .u-image-1 {
    height: 244px;
    width: 299px;
    margin-top: -298px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 399px;
}

.u-section-5 .u-shape-1 {
  height: 163px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  width: 1065px;
  margin: -103px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 269px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin-top: 7px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 352px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -4px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-top: -99px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 616px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    height: auto;
    margin-top: -103px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 626px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-bottom: -288px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1058px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-bottom: -228px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-6 {
  min-height: 790px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/pexels-photo-6662900.jpeg");
  min-height: 790px;
  background-position: 50% 71.08%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/pexels-photo-6641247.jpeg");
  min-height: 790px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 651px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 651px;
  }

  .u-section-6 .u-image-2 {
    min-height: 651px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 499px;
  }

  .u-section-6 .u-image-1 {
    min-height: 499px;
  }

  .u-section-6 .u-image-2 {
    min-height: 499px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 561px;
  }

  .u-section-6 .u-image-2 {
    min-height: 1123px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 353px;
  }

  .u-section-6 .u-image-2 {
    min-height: 707px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 596px;
}

.u-section-7 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 722px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 90px 30px 20px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 90px 30px 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 476px;
  background-image: url("images/a9dcc2d3-077b-4cbf-35f1-05a7ca2b6438.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 512px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 570px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-7 .u-image-1 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 420px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 458px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 729px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 458px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 409px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 578px;
  }

  .u-section-7 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 258px);
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    min-height: 258px;
  }
}